@import '../../sass/_colors.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $beige;
    height: 60px;

    .logo {
        text-decoration: none;
        font-size: 40px;
        font-weight: 700;
        color: $pink;
    }

    .navbar {
        & a {
            padding-left: 30px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
        }
    }
}
