@import '../../sass/_variables.scss';

.custom{
    background-color: $primaryButtonColor;
    color: $primaryButtonTextColor;
    &:hover{
        background-color: $hoverButtonColor;
        color: $hoverButtonTextColor;
    }
}